<html>

<head>
<title>courses</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"  
      href="../../css/test.css" th:href="@{/css/test.css}" />
      
      <link rel="stylesheet" type="text/css" media="all"  
      href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>


	<body>
		
		<div th:replace="fragments/header :: header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
					</button>
					<a class="navbar-brand" href="home">Stacks</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="login">login</a></li>
						<li class="active"><a href="profile">profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
		</div>
		
		
		<div class="container" id="page-content-wrapper">
		<h1>This is the courses pages</h1>
		
		</div>
	</body>
</html>