<html>

<head>
<title>courses</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"  
      href="../../css/test.css" th:href="@{/css/test.css}" />
      
      <link rel="stylesheet" type="text/css" media="all"  
      href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>


	<body>
		
<!-- 		Navigation template from fragments -> header -->
		<div th:replace="fragments/header :: header">
	
		</div>
		
		
		<div id="page-content-wrapper">
		<h1>This is the user page</h1>
		
		</div>
	</body>
</html>